:root{
    --color-important:#6666ff;
    --color-primary:#8e2ac6;
    --color-secundary:#eee6ff;
    --sm: 14px;
    --md: 18px;
    --lg: 32px;
}
body{
    margin: 30px;
}
.container-superior{
  display:flex;
  justify-content: space-between;
  margin-bottom: 25px;
  
}
.container-central{
    margin-top: 5%; 
}
.titulo{
    color:var(--color-primary);
    font-size: var(--lg);
    margin: 8px;
}
.img-bandera img{
    width: 48px;
}
.img-logo img{
    width: 40px;

}
.point-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 45px;      
}
.point-board{
    display: flex;
    width: 20%;
    font-size: var(--md);
    border-color: var(--color-primary);
    border-style: solid;
    border-width: 1px;
    padding: 20px;
}
.information{
   display: flex;
   flex-direction: column;
   align-items: block;  
}

.choice-user{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px; 
}

.choice-user img{
    width: 164px;
    margin: 8px;
}
.btn-restaurar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
}
.restart-btn{
    border: none;
    color: var(--color-primary);
    background-color: var(--color-secundary);
    font-size: var(--sm);
    padding: 8px;
    transition-duration: 0.4s;
    
}
.restart-btn:hover{
    color: var(--color-secundary);
    background-color:var(--color-primary);
}
